body {
  margin:0;
  padding:0;
  font-size: 16px;
  font-family:'Roboto',Arial,sans-serif;
  line-height:24px;
  font-weight: 400;
  color:#283136;
  background-color: #ffffff;
  width:1440px;
}
img {
max-width: 100%;
height: auto;
}
a {
  text-decoration: none;
}

.visually-hidden {
  position: absolute;
  clip:rect(0 0 0 0);
  width:1px;
  height:1px;
  margin:-1px;
}
.main-header {
  background-color: #eeeeee;
}
.container {
  max-width: 1160px;
  margin:0 auto;
}
.products-container {
  max-width: 1160px;
  margin: 0 auto;
}
.row {
  display:flex;
  justify-content: space-between;
  padding-top: 40px;
  padding-bottom: 50px;
  border-bottom: 2px solid #e1e1e1;
  width: 100%;
}
.main-navigation {
  padding:0;
  margin:0;
  display: flex;
  align-items: center;
  padding-top:50px;

}
.nerds-logo {
  position: relative;
  width: 100%;
  -ms-flex: 0 0 25%;
  -webkit-box-flex: 0;
  flex: 0 0 25%;
  max-width: 25%;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
.nerds-logo:hover {
  opacity:0.3;
}
.user-navigation,.site-navigation {
  margin:0;
  padding:0;
  line-height: 38px;
  background-color: #eeeeee;
  text-transform: uppercase;
  font-weight: 500;
}
.site-navigation {
  position: relative;
  margin:0;
  padding:0;
  width: 100%;
  -ms-flex: 0 0 50%;
  -webkit-box-flex: 0;
  flex: 0 0 50%;
  max-width: 50%;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  display: flex;
  justify-content: space-between;
  padding-left: 72px;
  padding-right: 70px;
  padding-top: 7px;
}
.site-navigation li {
  margin:0;
  padding: 0;
}
.user-navigation {
  position: relative;
  width: 100%;
  margin:0;
  padding:0;
  -ms-flex: 0 0 25%;
  -webkit-box-flex: 0;
  flex: 0 0 25%;
  max-width: 25%;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  display: flex;
  justify-content: flex-end;
  padding-top: 7px;
}
.cart {
  position: relative;
}
.cart::before {
  content:'';
  position: absolute;
  width: 15px;
  height: 15px;
  background-image: url(../img/cart-icon.svg);
  top: 11px;
  left:-41px;
}
.site-navigation,.user-navigation {
  list-style: none;
}
.selection-item {
  border-bottom: 2px solid #fb565a;
}
.site-navigation a,.user-navigation a {
    color:#000000;
}
.site-navigation a:hover,.user-navigation a:hover,
.site-navigation a:focus,.user-navigation a:focus
{
color:#fb565a;
}

.site-navigation a:active,.user-navigation a:active {
  color:#bcbcbc;
}

.main-slider {
  position: relative;
  background-color: #eeeeee;
  margin:0 auto;
}
.main-slider-item {
  display: none;
  background-repeat: no-repeat;
  background-position: 93% 96%;
  padding-top: 70px;
  padding-bottom: 80px;
}
.main-slider-item.active {
  display: block;
}
.main-slider-item-slide-1 {
  background-image: url(../img/slide1.png);
}
.main-slider-item-slide-2 {
  background-image: url(../img/nerds-index-slide2.png);
}
.main-slider-item-slide-3 {
  background-image: url(../img/nerds-index-slide3.png);
}
.main-slider-content {
  max-width: 515px;
}
.main-slider-title {
  display: block;
  font-size:55px;
  line-height:55px;
  font-weight:500;
  color:#000000;
  padding-bottom: 10px;
  text-align: left;
}
.main-slider-description {
  padding-bottom: 25px;
  max-width: 434px;
    text-align: left;
}
.main-slider-button {
  padding: 15px 54px;
  color:#ffffff;
  line-height: 18px;
  text-transform: uppercase;
  font-weight:500;
  border-radius:3px;
  display:inline-block;
  background-color: #fb565a;
  position: relative;
  z-index: 2;
}
.main-slider-button:hover,
.main-slider-button:focus {
  background-color: #e74246;
}
.main-slider-button:active {
  background-color: #d7373b;
  color:#e26f72;
  box-shadow: 0 3px  #c13135 inset;
}
.main-slider-dots {
  text-align: center;
  position: absolute;
  bottom: 90px;
  width: 100%;
  z-index: 1;
}
.main-slider-dot {
  width: 18px;
  height: 18px;
  border-radius: 50%;
  border: 0 none;
  background-color: #ffffff;
  position: relative;
  cursor: pointer;
}
.main-slider-dot.active-dot {
  background-image: url(../img/slider-button.svg);
  background-position: 50% 50%;
}
.main-slider-dot:first-child {
left:-13px;
}
.main-slider-dot:nth-child(3) {
  left: 13px;
}
.products {
  background-color:#ffffff;
  padding-top: 80px;
}
.products-list {
  list-style:none;
  display:flex;
  justify-content: space-between;
  border-bottom:2px solid #e1e1e1;
  padding:0;
  margin:0;
  padding-bottom: 80px;
  padding-right: 60px;
}
.products-list li {
  padding:0
  margin: 0;
  position: relative;
  width: 300px;

}
.products-list h3 {
  margin: 0;
  padding: 0;
  font-size:24px;
  line-height:30px;
  font-weight: 700;
  color:#000000;
  margin-top: 18px;
  margin-bottom: 16px;
}
.products-list p {
  max-width: 245px;
  margin:0;
  padding:0;
  padding-bottom: 34px;
}
.product-order {
  padding: 15px 40px;
  color:#ffffff;
  line-height: 18px;
  text-transform: uppercase;
  font-weight:500;
  border-radius:3px;
  display:inline-block;
}
.red-link {
  background-color: #fb565a;
}
.green-link {
  background-color: #00ca74;
}
.yellow-link {
  background-color: #efc84a;
}
.red-link:hover,.red-link:focus {
  background-color: #e74246;

}
.green-link:hover,.green-link:focus {
  background-color: #00bc6c;
}
.yellow-link:hover,.yellow-link:focus {
  background-color:#eab534;
}
.red-link:active {
  background-color: #d7373b;
  color:#e26f72;
  box-shadow: 0 3px  #c13135 inset;
}
.green-link:active {
  background-color:#00aa62;
  color:#4dc491;
  box-shadow:0 3px #009958 inset;
}
.yellow-link:active {
  background-color: #e5a722;
  color:#edc265;
  box-shadow:0 3px #ce961f inset;
}
.about-us-studio {
  display:block;
  font-size: 45px;
  font-weight: 500;
  line-height: 45px;
  color: #000000;
  max-width: 100%;
  padding-bottom: 17px;
}
.about-us {
  max-width: 700px;
  padding-top: 35px;
}
.about-us-tagline {
  max-width: 650px;
  padding-bottom: 22px;
}
.orders {
  margin: 0;
  padding: 0;
  font-weight: 700;
  text-transform:uppercase;
  line-height: 24px;
  color:#000000;

}
.about-us-orders {
  list-style:none;
  margin: 0;
  padding: 0;
  padding-left: 36px;
  padding-top: 24px;
}
.about-us-orders li {
  position:relative;
  padding-bottom: 24px;
}
.about-us-orders li::before {
  content:'';
  position:absolute;
  width: 24px;
  height:2px;
  background-color: #fb565a;
  top: 22%;
  left:-5%;
}
.statistics {
  max-width: 360px;
}
.statistics-logo {
  padding-bottom: 30px;
}
.statistics p {
  margin: 0;
  padding: 0;
  font-weight:700;
  text-transform: uppercase;
  color:#000000;
  padding-left: 16px;
  padding-bottom: 45px;
}
.statistics-table {
  border-collapse: collapse;
}
.statistics-percents td {
  padding: 0px 23px 37px 0px;
}
.statistics-persent {
  font-size: 25px;
}
.statistics-percents {
  font-weight:bold;
  font-size:45px;
  line-height:10px;
  color:#000000;
}
.statistics-advantages {
  line-height: 18px;
}
.projects-list {
  padding: 0;
  margin: 0;
  list-style:none;
  display:flex;
  justify-content: space-between;
  border-bottom: 2px solid #e1e1e1;
  width: 100%;
}

.projects-list li {
  margin: 0;
  padding: 0;
  position: relative;
}
.projects-list img {
  vertical-align: bottom;
}
.projects-list li:not(:last-child)::after{
  content:'';
  position: absolute;
  width: 2px;
  height: 52px;
  background-color: #e1e1e1;
  top: 62px;
  right: -20px;
}
.projects-list a {
  display: inline-block;
  margin: 0;
  padding: 0;
  opacity:0.2;
}
.projects-list a:hover,.projects-list a:focus {
  opacity:1;
}
.projects-list a:active,.projects-list a:active {
  opacity:0.1;
}
.map {
  width: 100%;
  margin-top: 79px;
}
.map-image {
  position: relative;
}
.map-image img {
  width: 100%;
  height: 416px;
}
.feedback {
  display: none;
}
.feedback-write-us {
  display: none;
}
.footer-social {
  display: flex;
  padding-top: 61px;
}
.social-list {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  width: 260px;
  justify-content: space-between;
  margin-right: 140px;
}
.social-button {
  display:flex;
  justify-content: center;
  align-items: center;
  width: 79px;
  height: 79px;
  border-radius: 50%;
  background-color: #e1e1e1;
}
.social-button:hover,
.social-button:focus {
  background-color: #e74246;
}
.social-button:active {
  background-color: #d7373b;
  box-shadow: 0 3px #c13135;
}
.social-button:active path {
  fill: #e37376;
}
.footer-tagline {
  display: block;
  font-size:36px;
  line-height:36px;
  font-weight: 700;
  color:#000000;
  margin: 0;
  padding: 0;
  padding-top: 7px;
  padding-bottom: 10px;
}
.footer-paragraph {
  margin: 0;
  padding: 0;
  line-height:22px;
}
.footer-social ul {
  list-style:none;
}
.shop-template {
  margin: 0;
  padding: 0;
  font-size: 55px;
  color:#000000;
  line-height:50px;
  font-weight:500;
  text-align: center;
  padding-top: 72px;
  padding-bottom: 111px;
}
.main-catalog-row {
  padding-top: 55px;
  display: flex;
  justify-content: space-between;
}
.greed-list {
  list-style:none;
}
.filter-title-features, .filter-title-price, .filter-title-greed {
  font-size: 18px;
  font-weight: 700;
  line-height: 30px;
  text-transform: uppercase;
  color: #000000;
  margin: 0;
  padding: 0;
}
.price-filter,.greed-filter,.features-filter {
  border: none;
  margin: 0;
  padding: 0;
}
.filter-title-price {
  padding-bottom: 48px;
}
.filter-title-greed {
  padding-bottom: 14px;
}
.filter-title-features {
  padding-bottom: 14px;
}
.range-wrap {
  width: 260px;
  padding: 40px 40px;
  border-radius: 3px;
  background-color: #eeeeee;
  box-sizing: border-box;
  min-height: 81px;
}
.range {
  position: relative;
}
.range-scale-empty {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 2px;
  background-color: #d7dcde;
}
.range-scale-full {
  width: 70%;
  height: 2px;
  background-color: #00ca74;
}
.range-slider {
  position: absolute;
  display: inline-block;
  width: 20px;
  height: 23px;
  background-image: url(../img/filter-button.png);
  background-size: cover;
  background-repeat: no-repeat;
  cursor: pointer;
}
.range-slider-left {
  top: -10px;
  left: -21px;
}
.range-slider-right {
  top: -10px;
  left: 67%;
}
.price-filter-output-field {
  width: 80px;
  padding: 7px 0px;
  background-color: #eeeeee;
  font: inherit;
  border-radius: 3px;
  border: none;
  font-family: 'Roboto', Arial, sans-serif;
  font-size: 16px;
  line-height: 22px;
  color: #283136;
  text-align: center;
}
.price-filter-outputs {
  display: flex;
  width: 260px;
  justify-content: space-between;
  padding-top: 14px;
  padding-bottom: 55px;
}
.price-label {
  padding-right: 8px;
}
.greed-list {
  margin: 0;
  padding: 0;
  padding-bottom: 43px;
}
.features-list {
  list-style:none;
  margin: 0;
  padding: 0;
  padding-bottom: 47px;
}
.features-item {
  padding-left: 36px;
}
.greed-option {
  padding-left: 36px;
}
.greed-option:not(:last-child){
  padding-bottom: 16px;
}
.features-item:not(:last-child) {
  padding-bottom: 16px;
}
input[type="checkbox"] + label {
  position: relative;
}
input[type="checkbox"] + label::before {
  content: '';
  position: absolute;
  top: -3px;
  left: -35px;
  width: 23px;
  height: 23px;
  background-image: url(../img/checkbox-off.png);
}
input[type="checkbox"]:checked + label::before {
  width: 27px;
  background-image: url(../img/checkbox-on.png);
}
input[type="checkbox"] + label:hover::before {
  background-image: url(../img/checkbox-off-hover.png);
}
input[type="checkbox"] + label:focus::before {
  background-image: url(../img/checkbox-off-hover.png);
}
input[type="checkbox"]:checked + label:hover::before {
  background-image: url(..//img/checkbox-on-hover.png);
}
input[type="checkbox"]:checked + label:focus::before {
  background-image: url(..//img/checkbox-on-hover.png);
}
input[type="checkbox"]:disabled + label::before {
  background-image: url(../img/checkbox-off-disabled.png);
}
input[type="checkbox"]:disabled:checked + label::before {
  background-image: url(../img/checkbox-on-disabled.png);
}
input[type="checkbox"]:disabled + label {
  color: #bec1c2;
}
input[type="radio"] + label {
  position: relative;
}
input[type="radio"] + label::before {
  content: '';
  position: absolute;
  top: -3px;
  left: -34px;
  width: 25px;
  height: 25px;
  background-image: url(../img/radio-off.png);
}
input[type="radio"]:checked + label::before {
  background-image: url(../img/radio-on.png);
}
input[type="radio"] + label:hover::before {
  background-image: url(../img/radio-off-hover.png);
}
input[type="radio"] + label:focus::before {
  background-image: url(../img/radio-off-hover.png);
}
input[type="radio"]:checked + label:hover::before {
  background-image: url(../img/radio-on-hover.png);
}
input[type="radio"]:checked + label:focus::before {
  background-image: url(../img/radio-on-hover.png);
}
input[type="radio"]:disabled + label::before {
  background-image: url(../img/radio-off-disabled.png);
}
input[type="radio"]:disabled:checked + label::before {
  background-image: url(../img/radio-on-disabled.png);
}
input[type="radio"]:disabled + label {
  color: #ededed;
}
.showbutton {
  display: inline-block;
  cursor: pointer;
  border: none;
  padding: 0;
  margin: 0;
  width: 260px;
  background-color: #eeeeee;
  text-align: center;
  color: #000000;
  font-size: 16px;
  line-height: 20px;
  font-family: 'Roboto' ,Arial, sans-serif;
  text-transform: uppercase;
  font-weight: 500;
  padding-top: 16px;
  padding-bottom: 15px;
  border-radius: 3px;
}
.showbutton:hover,.showbutton:focus {
  background-color: #dfdfdf;
}
.showbutton:active {
  background-color: #d5d5d5;
  color: #959595;
  box-shadow: 0 3px #bfbfbf inset;
}
.sort-panel {
  display: flex;
  justify-content: space-between;
  flex-wrap: nowrap;
  padding-bottom: 51px;
}
.form-column {
  width: 260px;
}
.catalog-column {
  max-width: 785px;
  box-sizing: border-box;
  padding-left: 24px;
  padding-top: 3px;
}
.sort-panel-title {
  padding: 0;
  margin: 0;
  font-size: 18px;
  line-height: 18px;
  font-weight: 700;
  text-transform: uppercase;
}
.sort-panel-tools {
  width: 490px;
  display: flex;
  justify-content: space-between;
  box-sizing: border-box;
  padding-left: 219px;
}
.sort-button {
  display: inline-block;
  background-color: transparent;
  padding: 0;
  margin: 0;
  border: none;
  font-size: 14px;
  font-family: 'Roboto' ,Arial, sans-serif;
  line-height: 24px;
  text-transform: uppercase;
  color: rgba(0, 0, 0, 0.3);
}
.sort-button:hover, .sort-button:focus {
  color: rgba(0, 0, 0, 0.6);
}
.sort-button:active {
  color: #000000;
}
.active-button {
  color: #000000;
}
.up-down-buttons {
  position: relative;
  width: 36px;
}
.down-button, .up-button {
  display: inline-block;
  position: absolute;
  margin: 0;
  padding: 0;
  cursor: pointer;
  border: none;
  background-color: transparent;
  width: 11px;
  height: 10px;
}
.down-button {
  background-image: url(../img/icon-down-dir.png);
  top: 5px;
  left: -5px;
}
.up-button {
  background-image: url(../img/icon-up-dir.png);
  top: 5px;
  left: 24px;
}
.down-button:hover, .down-button:focus {
  background-image: url(../img/icon-down-dir-hover.png)
}
.up-button:hover, .up-button:focus {
  background-image: url(../img/icon-up-dir-hover.png)
}
.down-button.arrow-active-button, .down-button:active {
  background-image: url(../img/icon-down-dir-active.png);
}
.up-button.arrow-active-button, .up-button:active {
  background-image: url(../img/icon-up-dir-active.png);
}
